.container {
  padding: 1rem;
  opacity: 1;
  transition: opacity .5s ease-out;

  @starting-style {
    opacity: 0;
  }
}

.hero {
  display: flex;
  justify-content: space-around;
  min-height: 275px;
  border-bottom: 2px solid var(--light);
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


  & h2 {
    font-size: calc(1rem + 4vw);
    text-indent: 1rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  & p {
    text-align: center;
    font-size: calc(.75rem + 1.25vw);
  }
}

.categoriesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories {
  display: none;
  gap: .5rem;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 1rem;
  flex-direction: column;

  transform-origin: top;
  transform: scaleY(0);
  transition: transform .5s, display .2s allow-discrete;

  & h3 {
    margin-block-start: 0;
  }
}
.shown {
  display: flex;
  transform: scaleY(1);

  @starting-style {
    transform: scaleY(0);
  }
}

.categoryItem {
  display: grid;
  grid: auto / 1fr 1.2rem;
  width: 100%;
  border: 3px solid var(--darkish);
  border-radius: .5rem;
  padding: 0.25rem;

  & label {
    text-align: center;
  }
}

.filterBtn {
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  align-self: center;
}

.filterWarning {
  animation: warning 1s infinite normal forwards;
}

@keyframes warning {
  0% {
    color: var(--dark);
    text-shadow: none;
  } 50% {
    color: orange;
    text-shadow: 0 0 1rem orange;
  } 100% {
    color: var(--dark);
    text-shadow: none;
  }
}