.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: linear-gradient(to bottom, var(--dark), var(--darkish), var(--dark));
}

.heroSection {
  display: flex;
  justify-content: space-evenly;
}

.left {
  display: flex;
  flex-direction: column;
}

.headline {
  text-align: center;
  font-size: calc(1rem + 4vw);
}

.link {
  width: fit-content;
  align-self: center;
  padding: .3rem .6rem;
  margin-right: .5rem;
  border: 1px outset var(--light);
  font-size: calc(.5rem + 2vw);
}

.right {

}

.heroImage {
  width: calc(150px + 10vw);
}