.container {
  display: flex;
  gap: 1.125rem;

  & h3 {
    margin-top: 0;
  }

  & > div {
    flex: 1;
  }
}

.qtdBtns {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.5rem .75rem;
}

.data {
  display: flex;
  justify-content: space-between;
}

.right {
  margin-right: 1rem;
  align-self: center;
}